$border-style: 1px solid #858585
$border-radius: 3px

.app
    display: flex
    align-items: center
    justify-content: center
    gap: 1em
    width: 100vw
    height: 100vh
    font-family: sans-serif

    .elevatorsContainer
        display: flex
        gap: 1em
        text-align: center
        max-width: 38vw
        overflow-x: scroll
        height: 40em

    .elevatorControls
        display: flex
        flex-direction: column
        gap: 1em
        form
            display: flex
            flex-direction: column
            align-items: center
            justify-content: center
            gap: 0.2em
            border: $border-style
            border-radius: $border-radius
            padding: 0.4em
            input:submit
                width: 50%
