$border-style: 1px solid #858585
$border-radius: 3px
// $background-grey: #373635
$background-grey: #3c3c3b

.app
    display: flex
    align-items: center
    justify-content: center
    gap: 1em
    width: 100vw
    height: 100vh
    font-family: sans-serif
    // background-color: #D4E1F9
    // background-color: #373635
    background-color: #373635
    background-color: #292929

    .elevatorsContainer
        display: flex
        gap: 1em
        text-align: center
        // max-width: 38vw
        // min-width: 22vw
        width: 32vw
        overflow-x: scroll
        height: 40em
        // background-color: #fff
        // background-color: #292929
        background-color: $background-grey
        padding: 0 4em
        border-radius: 2em
        // justify-content: center
        align-items: center

        h3
            color: white
