@import "App"

.elevatorControls
    display: flex
    flex-direction: column
    background-color: $background-grey
    border-radius: 1.2em
    padding: 1.5em
    color: white

    form
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
        gap: 0.3em
        // border: $border-style
        // border-radius: $border-radius
        padding: 0.4em

        input
            border: none

        input[type="number"]
            border-radius: 5px
            height: 2em

        input[type="submit"]
            padding: 1em
            border-radius: 6px
            margin-top: 1.2em
            background-color: #ffcb10
