.elevator
    background-color: pink
    width: 4em
    height: 30em
    position: relative

    .shaft
        position: absolute
        width: 4em
        height: 5em
        background-color: salmon
        transition: bottom 1s
